.#*
.idea/
.DS_Store
.Rhistory

src/__pycache__/

img
data
data_sub
*.zip
ltximg
obipy-resources
/auto/thesis.el
*.log
/*.tex
/_minted-thesis
/*.bbl
/eCO2mix_RTE_Centre-Val-de-Loire_En-cours-TR.xls
auto
/thesis.lof
/thesis.html
